body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

/* Header */
.header {
  background: #2563eb;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Tab Menu */
.tab-container {
  display: flex;
  background: #1e3a8a;
}

.tab-btn {
  flex: 1;
  padding: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-right: 1px solid #0f1f4c;
  transition: 0.3s;
}

.tab-btn:hover,
.tab-btn.active {
  background: #3b82f6;
}

/* Isi Konten */
.tab-content {
  display: none;
  padding: 20px;
  animation: fadeIn 0.4s;
}

.active-content {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media */
.media-box {
  text-align: center;
  margin: 20px 0;
}

.media-image {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.media-video video {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
}

/* Quiz */
.question {
  background: white;
  padding: 15px;
  margin: 12px 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.footer {
  margin-top: 30px;
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Kosa kata */
.kosa-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.6;
}

.kosa-item {
  padding: 5px;
  background: #eef5ff;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
